.nav-bar {
  width: 100vw;
  height: 8.5vh;
  position: fixed;
  background-color: #fff;
  display: flex;
  border-bottom: 1px solid #DFDFDF;
  flex-direction: row;
  align-items: center;
  top: 0;
  left: 0;
  justify-content: space-between;
  z-index: 2;

  .logo {
    box-sizing: border-box;
    cursor: pointer;
    padding: 1vh 0.78vw;
    overflow: hidden;
    height: 85%;
    width:auto;
  }

  .gear {
    box-sizing: border-box;
    padding: 1.25vh 2vw;
    height: 90%;
    width: auto;
  }
}
