.caller-information {
  background-color: white;
  border: 1px solid #DFDFDF;
  border-radius: 6px;
  bottom: 20px;
  bottom: calc(20px - 1000px);
  display: none;
  height: calc(51.5vh - 40px);
  margin: 0 1.5vw;
  overflow: scroll;
  position: absolute;
  width: 26vw;
  left: 28.5vw;
  z-index: 1000;

  h1 {
    font-size: 24px;
    line-height: 100%;
    margin-left: 5%;
    margin-top: 20px;
  }

  .info-select {
    align-items: center;
    background: #EFF2F9;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 90%;
    padding: 4px;
    height: 24px;

    .select-tab {
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      text-align: center;
      width: 33.33%;
      height: 100%;

      .background {
        background-color: #BBC0D0;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 0;
        z-index: 60;
        transition: 0.2s;
      }

      .text {
        position: absolute;
        z-index: 1000000;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.active {
        color: white;

        .background {
          left: 0;
          width: 100%;
        }
      }
    }
  }
}