.dial-header {
  display: flex;
  background-color: white;
  position: absolute;
  top: 0;
  height: 8vh;
  width: 95vw;
  z-index: 100000000;
  padding: 1vh 2vw 0;
  left: 3000px;

  .flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 33px;
      font-weight: 300;
      width:60%;
      display: inline;

      .status-heading {
        display: inline-block;
        font-weight: 500;
      }
    }

    .icon-container{
      width: 22vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}
