.sub-container {

  .info-form {
    height: calc(92% - 40px);
    overflow: scroll;
    width: 100%;
  
    .checkmark {
      width: 100%;
      
      .behalf {
        margin-right: 15px;
      }
    }
  
    h2 {
      font-size: 20px;
      font-weight: 400;;
      line-height: 130%;
      margin: 10px 0 0;
      width: 100%;
    }
  
    h3 {
      font-size: 15px;
      font-weight: 400;
      line-height: 130%;
      width: 100%;
    }
  
    .info {
      margin-top: 15px;
      position: relative;
  
      h1 {
        background-color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        left: 15px;
        line-height: 130%;
        margin: 0;
        padding: 0 8px;
        position: absolute;
        top: -10px;
      }
  
      input {
        border: 1px solid #DFDFDF;
        border-radius: 5px;
        color: black;
        font-weight: #333333;
        height: 35px;
        padding: 5px 22px;
        width: 100%;
      }
  
      .textarea {
        border: 1px solid #DFDFDF;
        border-radius: 5px;
        color: black;
        display: block;
        font-weight: #333333;
        line-height: 30px;
        margin-bottom: 15px;
        min-height: 150px;
        padding: 5px 22px;
        overflow: hidden;
        resize: both;
        width: 100%;
      }
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      position: relative;
      left: -2.5px;
  
      .tag-container {
        background-color: #FAFAFA;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        cursor: pointer;
        height: 25px;
        margin: 4px 5px;
        padding-left: 10px;
        position: relative;
        width: calc(30%-3px);
        
        .added-tag {
          overflow: hidden;
          font-size: 12px;
          height: 100%;
          padding-top: 5px;
          padding-right: 15px;
          position: relative;
          width: 100%;
        }
        .close {
          color: #7D7D7D;
          font-size: 10px;
          height: 100%;
          position: absolute;
          right: 3px;
          top: 6px;
        }
      }
  
      .new-tag {
        border: 1px dotted #DFDFDFDF;
        border-radius: 5px;
        cursor: pointer;
        height: 25px;
        margin: 4px 5px;
        padding-left: 10px;
        width: 100px;
        
        &::placeholder {
          color: black;
        }
      }
    }
  
    .two-info {
      align-items: center;
      display: inline-flex;
      width: calc(100%);
      
      .left {
        margin-right: 15px;
      }
    }
  }
  textarea {
    font-family: Lexend !important;
  }
}