@import '~antd/dist/antd.css';

.antd-modal-root {
  border-radius: 10px;
}

.antd-modal, .modal {
  text-align: center;
  width: 400px;

  h1 {
    font-size: 50px;
    line-height: 120%;
    margin: 0;
  }
  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
    margin: auto;
    width: 50%;
  }

  .ant-progress {
    border: 4px solid #000000;
    border-radius: 50%;
    position: relative; 
  }



  .time-body {
    margin: 50px auto;

    .time-limit {
      display:flex;
      align-items: center;
      justify-content: center;
      border: 4px solid black;
      border-radius: 50%;
      height: 160px;
      position: absolute;
      right: calc(50% - 80px);
      top: calc(50.1% - 80px);
      width: 160px;

      h1 {
        font-size: 24px;
        font-weight: 300;
        p {
          margin: 10px 0;
        }
  
        .time {
          font-size: 35px;
          font-weight: 500;
        }
      }
    }
  }
  .btn {
    background-color: #5AE471;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    height: 50px;
    width: 200px;
  }
  .pause {
    cursor: pointer;
    font-weight: 300;
    height: 50px;
    padding-top: 10px;
    width: 200px;
    margin: auto;
  }
}