@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');

.modal {
  text-align: center;
  width: 426px;
  height: 478px;
  background: #fff;
  border: 2px solid #DFDFDF;
  border-radius: 34px;
  transition: 1.1s ease-in;
  z-index: 5;
  position:absolute;
  margin:auto;
  top: 25%;
  left: 40%;
  font-family: 'Lexend', sans-serif;
  font-weight:300;

  .heading{
    padding:0;
    text-align: center;
    font-weight:500;
    font-size: 48px;
    margin-bottom: 0;
  }

  .subtext{
    font-size: 18px;
  }
  .timer-container{
    margin:auto;
    position: relative;
    height: 159px;
    width: 159px;
    padding-bottom: 20px;

    /* Removes SVG styling that would hide the time label */
    .timer-circle {
      fill: none;
      stroke: 1px solid black;
    }

    /* The SVG path that displays the timer's progress */
    .timer-path-elapsed {
      stroke-width: 10px;
      stroke: #F99791;
    }
    .base-timer__path-remaining {
      /* Just as thick as the original ring */
      stroke-width: 10px;

      /* Rounds the line endings to create a seamless circle */
      stroke-linecap: round;

      /* Makes sure the animation starts at the top of the circle */
      transform: rotate(90deg);
      transform-origin: center;

      /* One second aligns with the speed of the countdown timer */
      transition: 1s linear all;

      /* Allows the ring to change color when the color value updates */
      stroke: currentColor;
    }

    .timer-label{
      position:absolute;
      height: 159px;
      width: 159px;
      top:0;
      margin:0;

      p{
        margin-top: 0px;
      }

      .count{
        margin: 50px 0px 0px 0px;
        font-weight: 500;
        font-size: 27px;
      }
    }
  }

  .accept-button{
    background-color: #5AE471;
    border: 2px solid #40EB5B;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 500;
    width: 200px;
    height: 50px;
  }
}
