.search-option {
  padding-top: calc(3vh - 22.5px);
  height: 6%;

  .searchbar {
    align-items: center;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    position: relative;
    width: 100%;
  
    .search-header {
      background-color: white;
      padding: 0 10px;
      position: absolute;
      top: -12px;
      left: 15px;
    }
  
    input {
      background-color: transparent;
      padding: 0 25px;
      border: hidden;
      font-size: 15px;
      font-weight: 300;
      font-family: 'Lexend', sans-serif;
      width: 100%;
    }
  
    input:focus {
      outline: none;
    }
  
    .search {
      border-left: 1px solid #DFDFDF;
      box-sizing: border-box;
      cursor: pointer;
      height: 100%;
      padding: 1vh 1.25vw;
    }
  }
}
