.vitals-tab {
  position: relative;

  .emotions-section {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.2vw;
    padding: 0 10%;

    .face {
      margin-right: 2.6vw;
      width: 5.2vw;
      height: 5.2vw;
    }

    .emotions {
      justify-content: center;
      align-items: center;
      height: 5.2vw;
      width: 100%;

      .emotion {
        position: relative;
        width: 100%;
        .feeling {
        }
        .certainty {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }
}