.camera {
  height: calc(81.5vh - 20px);
  background-color: white;
  border: 1px solid #DFDFDF;
  border-radius: 6px;
  //bottom: 20px;
  bottom: calc(20px + 1000px);
  display: none;
  height: calc(81.5vh - 20px);
  margin: 0 1.5vw 0 2vw;
  overflow: hidden;
  position: absolute;
  width: 26vw;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    //object-position: center;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .temp-canvas {
    position: absolute;
    top: 0;
    left: 500px;
    width: 2000px;
    height: 2000px;
    z-index: 9999999999;
  }
}
