.custom-marker {
  animation: pop-in 0.5s;
  -webkit-animation: pop-in 0.5s;
  -moz-animation: pop-in 0.5s;
  -ms-animation: pop-in 0.5s;
  background: #959595;
  border-radius: 100%;
  border: 6px solid #FFFFFF;
  box-shadow: 0px 5.33752px 5.33752px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  position: relative;
  transition: 0.2s;
  width: 40px;

  &:hover {
    transform: scale(1.05);
  }

  .line {
    align-items: center;
    display: flex;
    margin: 2px 0 2px 8px;

    h1 {
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 0 5px;
    }
  
    h2 {
      display: inline-block;
      font-size: 9px;
      font-weight: 500;
      margin: 0 0 0 5px;
    }

    img {
      display: inline-block;
      height: 15px;
      width: 15px;
    }

    .marker-circle {
      border-radius: 100%;
      display: inline-block;
      height: 15px;
      width: 15px;
    }
  }

  .marker-box {
    align-items: center;
    background: white;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    height: 50px;
    left: -46px;
    position: absolute;
    top: -70px;
    width: 120px;

    &::before {
      border: 12px solid transparent;
      border-top-color: #DFDFDF;
      content: "";
      position: absolute;
      top: 100%;
      left: calc(50% - 12px);
    }
    &::after {
      border: 10px solid transparent;
      border-top-color: white;
      content: "";
      position: absolute;
      top: 100%;
      left: calc(50% - 10px);
    }
  }
}

@-webkit-keyframes pop-in {
  0% { opacity: 0; -webkit-transform: scale(0.5); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
  0% { opacity: 0; -moz-transform: scale(0.5); }
  100% { opacity: 1; -moz-transform: scale(1); }
}
@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}